# Map Creation

Merging the MOOC Metrics (`mooc-metrics.csv`) with a map. Merging on country ISO code, as provided by Google Analytics.

In [1]:
import pandas as pd
import geopandas as gpd

### Countries

Read in the countries and slim down to just the population (for adjusted rates), name, and ISO A2.

In [2]:
ne_50m = '../data/maps/ne_50m_admin_0_countries.geojson'
countries = gpd.read_file(ne_50m)

In [3]:
countries.columns

Index(['abbrev', 'abbrev_len', 'adm0_a3', 'adm0_a3_is', 'adm0_a3_un',
       'adm0_a3_us', 'adm0_a3_wb', 'adm0_dif', 'admin', 'brk_a3', 'brk_diff',
       'brk_group', 'brk_name', 'continent', 'economy', 'featurecla',
       'fips_10', 'formal_en', 'formal_fr', 'gdp_md_est', 'gdp_year',
       'geometry', 'geou_dif', 'geounit', 'gu_a3', 'homepart', 'income_grp',
       'iso_a2', 'iso_a3', 'iso_n3', 'labelrank', 'lastcensus', 'level',
       'long_len', 'mapcolor13', 'mapcolor7', 'mapcolor8', 'mapcolor9', 'name',
       'name_alt', 'name_len', 'name_long', 'name_sort', 'note_adm0',
       'note_brk', 'pop_est', 'pop_year', 'postal', 'region_un', 'region_wb',
       'scalerank', 'sov_a3', 'sovereignt', 'su_a3', 'su_dif', 'subregion',
       'subunit', 'tiny', 'type', 'un_a3', 'wb_a2', 'wb_a3', 'wikipedia',
       'woe_id'],
      dtype='object')

In [4]:
country_df = countries[['iso_a2', 'name_sort', 'scalerank', 'pop_est', 'geometry']]
country_df.head()

,iso_a2,name_sort,scalerank,pop_est,geometry
0,AW,Aruba,3,103065.0,"POLYGON ((-69.89912109375 12.45200195312499, -..."
1,AF,Afghanistan,1,28400000.0,"POLYGON ((74.89130859375001 37.231640625, 74.8..."
2,AO,Angola,1,12799293.0,"(POLYGON ((14.19082031250008 -5.8759765625, 14..."
3,AI,Anguilla,1,14436.0,"POLYGON ((-63.001220703125 18.22177734374999, ..."
4,AL,Albania,1,3639453.0,"POLYGON ((20.06396484375 42.547265625, 20.1035..."

### MOOC Metrics

In [5]:
metrics_f = '../data/canonical/mooc-metrics.csv'
metrics_df = pd.read_csv(metrics_f)

print ("{} rows".format(len(metrics_df)))
metrics_df.head()

1071 rows

,year,country,page,new_users,uniq_pg_views,pg_views
0,2017,BD,poetry-and-plays-2017,6975,8331,10151
1,2017,IN,poetry-and-plays-2017,3819,8556,12849
2,2017,NP,poetry-and-plays-2017,1866,2517,3236
3,2017,PK,poetry-and-plays-2017,1372,2171,2916
4,2017,IN,fiction-and-nonfiction-2017,1711,12900,20355

In [6]:
# sanity check to make sure we can merge
list_of_map_countries = country_df['iso_a2'].tolist()
test_country = lambda x: x in list_of_map_countries

for country in metrics_df['country'].unique().tolist():
    if (test_country(country) == False):
        print (country)

XK
ZZ
nan
GF
RE
BQ
YT
MQ

| ISO A-2 | Country |
|---|---|
| `XK` | Temporary for Kosovo |
| `ZZ` | Unknown |
| `nan` | Not available, pandas error |
| `GF` | [French Guiana](https://en.wikipedia.org/wiki/French_Guiana) |
| `RE` | [Reunion](https://en.wikipedia.org/wiki/R%C3%A9union)
| `BQ` | [Bonaire, Sint Eustatius and Saba](https://en.wikipedia.org/wiki/Caribbean_Netherlands) |
| `YT` | [Mayotte](https://en.wikipedia.org/wiki/Mayotte) |
| `MT` | [Martinique](https://en.wikipedia.org/wiki/Martinique) |


From [Wikipedia article on ISO 3166 A-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)...

<img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Kingdom_of_the_Netherlands_location_tree.svg"></img>

In [7]:
country_df[country_df.name_sort == 'Kosovo']['iso_a2']

119    -99
Name: iso_a2, dtype: object

In [8]:
bad_isos = ['nan', 'ZZ', 'GF', 'RE', 'BQ', 'YT', 'MQ']

mask_bad_iso = lambda x: (metrics_df['country'].isin(bad_isos))

metrics_df[mask_bad_iso]

,year,country,page,new_users,uniq_pg_views,pg_views
162,2016,ZZ,how-writers-write-fiction-2016,64,87,118
227,2017,ZZ,fiction-and-nonfiction-2017,48,112,210
261,2017,ZZ,poetry-and-plays-2017,31,49,63
438,2016,ZZ,whitman-2016,18,44,56
469,2015,ZZ,how-writers-write-fiction-2015,35,239,315
545,2016,ZZ,how-writers-write-fiction-2015,7,9,10
584,2017,GF,poetry-and-plays-2017,6,6,6
745,2017,RE,poetry-and-plays-2017,4,5,5
788,2016,BQ,how-writers-write-fiction-2015,2,5,5
904,2017,YT,poetry-and-plays-2017,2,2,2
905,2017,ZZ,how-writers-write-fiction-2015,2,2,2
938,2015,RE,how-writers-write-fiction-2015,1,6,7
1037,2016,MQ,how-writers-write-fiction-2015,1,1,1
1064,2016,RE,whitman-2016,1,1,1

In [9]:
# reassign the ISO_A2 for kosovo

#mask_koso = (metrics_df['country'] == 'XK')
#metrics_df.loc[mask_koso, 'country'] = -99

# Change source to change it easier
mask_koso_src = (country_df['name_sort'] == 'Kosovo')
country_df.loc[mask_koso_src, 'iso_a2'] = 'XK'

C:\Anaconda3\envs\geopy\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
# Drop the rows from the dataframe which are unidentifiable
mask_zz = (metrics_df['country'] == 'ZZ')

metrics_df = metrics_df.loc[~mask_zz]

In [11]:
# keep only the identified countries
mask_good_iso = lambda x: (~metrics_df['country'].isin(bad_isos))

export_df = metrics_df[mask_good_iso]

print ("{} rows".format(len(export_df)))

1057 rows

### Merging

In [12]:
# get rid of antartica
country_df = country_df[country_df.iso_a2 != 'AQ']

# rename the columns
country_df.columns = ['iso', 'country', 'scalerank', 'population', 'geometry']

# drop the scale rank column
country_df.drop('scalerank', axis=1, inplace=True)

In [13]:
country_df

,iso,country,population,geometry
0,AW,Aruba,103065.0,"POLYGON ((-69.89912109375 12.45200195312499, -..."
1,AF,Afghanistan,28400000.0,"POLYGON ((74.89130859375001 37.231640625, 74.8..."
2,AO,Angola,12799293.0,"(POLYGON ((14.19082031250008 -5.8759765625, 14..."
3,AI,Anguilla,14436.0,"POLYGON ((-63.001220703125 18.22177734374999, ..."
4,AL,Albania,3639453.0,"POLYGON ((20.06396484375 42.547265625, 20.1035..."
5,AX,Aland,27153.0,"(POLYGON ((20.611328125 60.04067382812499, 20...."
6,AD,Andorra,83888.0,"POLYGON ((1.7060546875 42.50332031249999, 1.67..."
7,AE,United Arab Emirates,4798491.0,(POLYGON ((53.92783203125001 24.17719726562498...
8,AR,Argentina,40913584.0,(POLYGON ((-64.54916992187498 -54.716210937499...
9,AM,Armenia,2967004.0,(POLYGON ((45.55234375000006 40.61606445312506...
10,AS,American Samoa,65628.0,"POLYGON ((-170.72626953125 -14.351171875, -170..."
12,-99,Ashmore and Cartier Islands,-99.0,"POLYGON ((123.59453125 -12.42568359375001, 123..."
13,TF,French Southern and Antarctic Lands,140.0,(POLYGON ((69.2824218750001 -49.05888671875002...
14,AG,Antigua and Barbuda,85632.0,(POLYGON ((-61.71606445312503 17.0370117187499...
15,AU,Australia,21262641.0,"(POLYGON ((158.8788085937501 -54.709765625, 15..."
16,AT,Austria,8210281.0,"POLYGON ((16.953125 48.598828125, 16.948828125..."
17,AZ,Azerbaijan,8238672.0,(POLYGON ((45.15283203125003 39.58266601562502...
18,BI,Burundi,8988091.0,POLYGON ((30.55361328125002 -2.400097656250011...
19,BE,Belgium,10414336.0,"POLYGON ((4.816015625000034 51.43281249999995,..."
20,BJ,Benin,8791832.0,"POLYGON ((3.595410156250011 11.6962890625, 3.5..."
21,BF,Burkina Faso,15746232.0,"POLYGON ((0.217480468750011 14.91147460937499,..."
22,BD,Bangladesh,156050883.0,(POLYGON ((91.94921875000003 21.50805664062503...
23,BG,Bulgaria,7204687.0,"POLYGON ((28.58535156250002 43.742236328125, 2..."
24,BH,Bahrain,727785.0,"POLYGON ((50.60722656250002 25.88310546875, 50..."
25,BS,"Bahamas, The",309156.0,(POLYGON ((-73.02685546874994 21.1923828125000...
26,BA,Bosnia and Herzegovina,4613414.0,"POLYGON ((16.91865234374998 45.27656249999998,..."
27,BL,St-Barthélemy,7448.0,"POLYGON ((-62.83193359374999 17.87646484375, -..."
28,BY,Belarus,9648533.0,"POLYGON ((28.14794921875 56.142919921875, 28.2..."
29,BZ,Belize,307899.0,"(POLYGON ((-87.85292968749999 17.4228515625, -..."
30,BM,Bermuda,67837.0,"POLYGON ((-64.73027343749999 32.29345703125, -..."
...,...,...,...,...
211,TD,Chad,10329208.0,"POLYGON ((23.98027343750002 19.496630859375, 2..."
212,TG,Togo,6019877.0,"POLYGON ((0.900488281250006 10.99326171874999,..."
213,TH,Thailand,65905410.0,(POLYGON ((99.66308593749997 6.521923828124983...
214,TJ,Tajikistan,7349145.0,(POLYGON ((70.70166015625003 39.82529296874998...
215,TM,Turkmenistan,4884887.0,(POLYGON ((53.10957031250004 38.80307617187501...
216,TL,Timor-Leste,1131612.0,"(POLYGON ((124.3193359375 -9.413769531249983, ..."
217,TO,Tonga,120898.0,(POLYGON ((-174.913134765625 -21.3004882812500...
218,TT,Trinidad and Tobago,1310000.0,(POLYGON ((-61.01210937499997 10.1343261718749...
219,TN,Tunisia,10486339.0,(POLYGON ((10.95761718750006 33.72207031250005...
220,TR,Turkey,76805524.0,"(POLYGON ((25.97001953125005 40.136328125, 25...."
221,TW,Taiwan,22974347.0,(POLYGON ((118.4074218750001 24.52211914062499...
222,TZ,Tanzania,41048532.0,"(POLYGON ((39.711328125 -7.977441406250023, 39..."
223,UG,Uganda,32369558.0,POLYGON ((33.90322265625002 -1.002050781250006...
224,UA,Ukraine,45700395.0,(POLYGON ((32.01220703124997 46.20390624999999...
225,UY,Uruguay,3494382.0,"POLYGON ((-53.37060546875 -33.7421875, -53.419..."
226,US,United States of America,313973000.0,"(POLYGON ((-155.58134765625 19.01201171875002,..."
227,UZ,Uzbekistan,27606007.0,(POLYGON ((71.77968749999999 39.95024414062505...
228,VA,Vatican (Holy Sea),832.0,"POLYGON ((12.43916015625001 41.898388671875, 1..."
229,VC,St. Vincent and the Grenadines,104574.0,"(POLYGON ((-61.33437 12.69521484374999, -61.34..."
230,VE,"Venezuela, RB",26814843.0,(POLYGON ((-60.99790039062498 8.86733398437496...
231,VG,British Virgin Islands,24491.0,(POLYGON ((-64.59365234374997 18.4028320312499...
232,VI,Virgin Islands (U.S.),109825.0,"(POLYGON ((-64.765625 17.79433593749999, -64.6..."
233,VN,Vietnam,86967524.0,"(POLYGON ((106.6174804687501 8.68281250000004,..."
234,VU,Vanuatu,218519.0,(POLYGON ((169.8962890625001 -20.1866210937500...
235,WF,Wallis and Futuna,15289.0,"(POLYGON ((-178.0466796875 -14.31835937499999,..."
236,WS,Samoa,219998.0,"(POLYGON ((-171.4541015625 -14.04648437500002,..."
237,YE,"Yemen, Rep.",23822783.0,(POLYGON ((53.76318359374997 12.63681640624999...
238,ZA,South Africa,49052489.0,(POLYGON ((37.85693359375003 -46.9442382812499...
239,ZM,Zambia,11862740.0,"POLYGON ((32.919921875 -9.407421875000011, 32...."
240,ZW,Zimbabwe,12619600.0,POLYGON ((31.28789062500002 -22.40205078125001...

In [14]:
# rename before merge
export_df.rename(columns={'country': 'iso'}, inplace=True)

C:\Anaconda3\envs\geopy\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [15]:
rate_df = export_df.merge(country_df.drop('geometry', axis=1), on='iso')
rate_df.head(10)

,year,iso,page,new_users,uniq_pg_views,pg_views,country,population
0,2017,BD,poetry-and-plays-2017,6975,8331,10151,Bangladesh,1.560509e+08
1,2017,BD,fiction-and-nonfiction-2017,108,283,496,Bangladesh,1.560509e+08
2,2016,BD,how-writers-write-fiction-2016,52,80,115,Bangladesh,1.560509e+08
3,2016,BD,flash-write-2016,32,140,208,Bangladesh,1.560509e+08
4,2015,BD,how-writers-write-fiction-2015,29,165,232,Bangladesh,1.560509e+08
5,2016,BD,how-writers-write-fiction-2015,10,15,16,Bangladesh,1.560509e+08
6,2016,BD,whitman-2016,10,12,12,Bangladesh,1.560509e+08
7,2017,BD,how-writers-write-fiction-2016,2,2,2,Bangladesh,1.560509e+08
8,2017,IN,poetry-and-plays-2017,3819,8556,12849,India,1.166079e+09
9,2017,IN,fiction-and-nonfiction-2017,1711,12900,20355,India,1.166079e+09

In [16]:
# Calculate population adjusted rates
rate_df['new_users_rate'] = rate_df['new_users'] / rate_df['population']
rate_df['uniq_pg_views_rate'] = rate_df['uniq_pg_views'] / rate_df['population']
rate_df['pg_views_rate'] = rate_df['pg_views'] / rate_df['population']

In [17]:
rate_df

,year,iso,page,new_users,uniq_pg_views,pg_views,country,population,new_users_rate,uniq_pg_views_rate,pg_views_rate
0,2017,BD,poetry-and-plays-2017,6975,8331,10151,Bangladesh,1.560509e+08,4.469696e-05,5.338643e-05,6.504930e-05
1,2017,BD,fiction-and-nonfiction-2017,108,283,496,Bangladesh,1.560509e+08,6.920820e-07,1.813511e-06,3.178450e-06
2,2016,BD,how-writers-write-fiction-2016,52,80,115,Bangladesh,1.560509e+08,3.332246e-07,5.126533e-07,7.369391e-07
3,2016,BD,flash-write-2016,32,140,208,Bangladesh,1.560509e+08,2.050613e-07,8.971433e-07,1.332899e-06
4,2015,BD,how-writers-write-fiction-2015,29,165,232,Bangladesh,1.560509e+08,1.858368e-07,1.057347e-06,1.486695e-06
5,2016,BD,how-writers-write-fiction-2015,10,15,16,Bangladesh,1.560509e+08,6.408166e-08,9.612249e-08,1.025307e-07
6,2016,BD,whitman-2016,10,12,12,Bangladesh,1.560509e+08,6.408166e-08,7.689799e-08,7.689799e-08
7,2017,BD,how-writers-write-fiction-2016,2,2,2,Bangladesh,1.560509e+08,1.281633e-08,1.281633e-08,1.281633e-08
8,2017,IN,poetry-and-plays-2017,3819,8556,12849,India,1.166079e+09,3.275078e-06,7.337409e-06,1.101898e-05
9,2017,IN,fiction-and-nonfiction-2017,1711,12900,20355,India,1.166079e+09,1.467310e-06,1.106271e-05,1.745593e-05
10,2016,IN,how-writers-write-fiction-2016,617,4979,6549,India,1.166079e+09,5.291236e-07,4.269864e-06,5.616257e-06
11,2016,IN,how-writers-write-fiction-2015,297,585,790,India,1.166079e+09,2.546997e-07,5.016812e-07,6.774840e-07
12,2015,IN,how-writers-write-fiction-2015,635,8330,12451,India,1.166079e+09,5.445599e-07,7.143597e-06,1.067766e-05
13,2016,IN,whitman-2016,240,1756,2492,India,1.166079e+09,2.058179e-07,1.505901e-06,2.137076e-06
14,2017,IN,how-writers-write-fiction-2015,99,121,148,India,1.166079e+09,8.489989e-08,1.037665e-07,1.269211e-07
15,2016,IN,flash-write-2016,82,632,944,India,1.166079e+09,7.032112e-08,5.419872e-07,8.095505e-07
16,2017,IN,how-writers-write-fiction-2016,21,130,155,India,1.166079e+09,1.800907e-08,1.114847e-07,1.329241e-07
17,2017,IN,flash-write-2016,2,6,6,India,1.166079e+09,1.715149e-09,5.145448e-09,5.145448e-09
18,2017,NP,poetry-and-plays-2017,1866,2517,3236,Nepal,2.856338e+07,6.532841e-05,8.811983e-05,1.132919e-04
19,2017,NP,fiction-and-nonfiction-2017,203,636,983,Nepal,2.856338e+07,7.107003e-06,2.226627e-05,3.441470e-05
20,2016,NP,how-writers-write-fiction-2016,91,210,278,Nepal,2.856338e+07,3.185898e-06,7.352072e-06,9.732743e-06
21,2015,NP,how-writers-write-fiction-2015,19,372,814,Nepal,2.856338e+07,6.651875e-07,1.302367e-05,2.849803e-05
22,2016,NP,how-writers-write-fiction-2015,8,17,18,Nepal,2.856338e+07,2.800789e-07,5.951677e-07,6.301776e-07
23,2016,NP,whitman-2016,2,4,4,Nepal,2.856338e+07,7.001973e-08,1.400395e-07,1.400395e-07
24,2016,NP,flash-write-2016,1,2,2,Nepal,2.856338e+07,3.500987e-08,7.001973e-08,7.001973e-08
25,2017,PK,poetry-and-plays-2017,1372,2171,2916,Pakistan,1.762429e+08,7.784709e-06,1.231822e-05,1.654534e-05
26,2017,PK,fiction-and-nonfiction-2017,376,1514,2485,Pakistan,1.762429e+08,2.133419e-06,8.590415e-06,1.409985e-05
27,2016,PK,how-writers-write-fiction-2016,293,1988,3055,Pakistan,1.762429e+08,1.662478e-06,1.127988e-05,1.733403e-05
28,2016,PK,whitman-2016,96,348,450,Pakistan,1.762429e+08,5.447026e-07,1.974547e-06,2.553294e-06
29,2015,PK,how-writers-write-fiction-2015,152,1685,2606,Pakistan,1.762429e+08,8.624459e-07,9.560666e-06,1.478641e-05
...,...,...,...,...,...,...,...,...,...,...,...
1022,2017,TD,poetry-and-plays-2017,4,5,6,Chad,1.032921e+07,3.872514e-07,4.840642e-07,5.808771e-07
1023,2015,TD,how-writers-write-fiction-2015,2,3,3,Chad,1.032921e+07,1.936257e-07,2.904385e-07,2.904385e-07
1024,2015,AS,how-writers-write-fiction-2015,4,17,29,American Samoa,6.562800e+04,6.094959e-05,2.590358e-04,4.418846e-04
1025,2015,AW,how-writers-write-fiction-2015,2,4,5,Aruba,1.030650e+05,1.940523e-05,3.881046e-05,4.851307e-05
1026,2016,AW,whitman-2016,1,1,1,Aruba,1.030650e+05,9.702615e-06,9.702615e-06,9.702615e-06
1027,2015,LC,how-writers-write-fiction-2015,3,3,3,St. Lucia,1.602670e+05,1.871876e-05,1.871876e-05,1.871876e-05
1028,2016,LC,whitman-2016,2,7,7,St. Lucia,1.602670e+05,1.247918e-05,4.367711e-05,4.367711e-05
1029,2017,LC,poetry-and-plays-2017,2,2,2,St. Lucia,1.602670e+05,1.247918e-05,1.247918e-05,1.247918e-05
1030,2016,LC,flash-write-2016,1,1,1,St. Lucia,1.602670e+05,6.239588e-06,6.239588e-06,6.239588e-06
1031,2016,LC,how-writers-write-fiction-2015,1,1,1,St. Lucia,1.602670e+05,6.239588e-06,6.239588e-06,6.239588e-06
1032,2016,LC,how-writers-write-fiction-2016,2,2,5,St. Lucia,1.602670e+05,1.247918e-05,1.247918e-05,3.119794e-05
1033,2016,DM,whitman-2016,3,10,13,Dominica,7.266000e+04,4.128819e-05,1.376273e-04,1.789155e-04
1034,2015,DM,how-writers-write-fiction-2015,1,1,1,Dominica,7.266000e+04,1.376273e-05,1.376273e-05,1.376273e-05
1035,2016,KY,how-writers-write-fiction-2016,2,9,9,Cayman Islands,4.903500e+04,4.078719e-05,1.835424e-04,1.835424e-04
1036,2017,MT,fiction-and-nonfiction-2017,4,8,11,Malta,4.051650e+05,9.872521e-06,1.974504e-05,2.714943e-05
1037,2015,MT,how-writers-write-fiction-2015,1,1,1,Malta,4.051650e+05,2.468130e-06,2.468130e-06,2.468130e-06
1038,2016,MT,how-writers-write-fiction-2015,1,1,1,Malta,4.051650e+05,2.468130e-06,2.468130e-06,2.468130e-06
1039,2016,MT,how-writers-write-fiction-2016,2,56,74,Malta,4.051650e+05,4.936261e-06,1.382153e-04,1.826416e-04
1040,2016,MT,whitman-2016,2,2,2,Malta,4.051650e+05,4.936261e-06,4.936261e-06,4.936261e-06
1041,2015,CK,how-writers-write-fiction-2015,1,1,1,Cook Islands,1.187000e+04,8.424600e-05,8.424600e-05,8.424600e-05
1042,2015,CW,how-writers-write-fiction-2015,1,1,1,Curaçao,1.417660e+05,7.053878e-06,7.053878e-06,7.053878e-06
1043,2015,FO,how-writers-write-fiction-2015,1,2,2,Faeroe Islands,4.885600e+04,2.046832e-05,4.093663e-05,4.093663e-05
1044,2015,GG,how-writers-write-fiction-2015,1,1,1,Guernsey,6.863300e+04,1.457025e-05,1.457025e-05,1.457025e-05
1045,2015,JE,how-writers-write-fiction-2015,1,1,1,Jersey,9.162600e+04,1.091393e-05,1.091393e-05,1.091393e-05
1046,2015,LI,how-writers-write-fiction-2015,2,7,7,Liechtenstein,3.476100e+04,5.753574e-05,2.013751e-04,2.013751e-04
1047,2015,TC,how-writers-write-fiction-2015,1,2,4,Turks and Caicos Islands,2.294200e+04,4.358818e-05,8.717636e-05,1.743527e-04
1048,2015,VC,how-writers-write-fiction-2015,1,2,6,St. Vincent and the Grenadines,1.045740e+05,9.562606e-06,1.912521e-05,5.737564e-05
1049,2016,FK,how-writers-write-fiction-2016,1,1,1,Falkland Islands,3.140000e+03,3.184713e-04,3.184713e-04,3.184713e-04
1050,2016,IM,how-writers-write-fiction-2016,1,1,2,Isle of Man,7.651200e+04,1.306985e-05,1.306985e-05,2.613969e-05
1051,2016,MF,whitman-2016,1,4,5,St. Martin (French part),3.666100e+04,2.727694e-05,1.091078e-04,1.363847e-04

In [18]:
rate_df.to_csv('../data/canonical/mooc-metrics-population.csv', index=False)

In [20]:
country_df.to_file('../data/maps/countries-pop.geojson', driver='GeoJSON')